<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.whitestein.capacitorbarcodereader">
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"></uses-permission-sdk-23>
    <application>
        <activity
            android:name="com.whitestein.barcodeReader.BarcodeReaderActivity">
        </activity>
    </application>
</manifest>
  